body{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

    color: darkslategray;
}
p{
    margin-bottom: 0px;
}
.playground{
    display: flex;
    background-color:beige;
    padding: 10px;
    box-shadow: 5px 10px 30px #3b3b3b;
    border-radius: 5px;
    

}
.options{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    padding-top: 50px;
    padding-bottom: 20px;
    color: darkslategrey;
}
.sizeHolder, 
.optionHolder{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sizeBox,
.optionBox{

width: 100px;
height: 40px;
background-color:darkslategrey;
font-family: Georgia, 'Times New Roman', Times, serif;
color: white;
display: flex;
border-radius: 5px;
margin: 10px;
justify-content: center;
align-items: center;
}
input[type="color"] {
  position: absolute;
  top: 100px; 
  left: 100px;
  display: none;
}

#container{
    display:flex;
    flex-wrap: wrap;
    height:500px;
    width: 500px;
    outline: 2px solid black;
    background-color:rgb(255, 255, 255);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color:white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: small;
}